$color__white: #fff;
$color__black: #000;

$media_360: 360px;
$media_375: 375px;
$media_768: 768px;
$media_1440: 1440px;
$media_1920: 1920px;

// $font__mont: "Montserrat";
// $font__rel: "Raleway";
$font__lato: "Lato";
